<!doctype html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<head>
    <title>OpenDDS Monitoring Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="./opendds-favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./main.css"> -->
</head>

<body ng-app="Homepage" ng-controller="customersCtrl">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Link.html">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="DropdownAction.html">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="AnalyzeThat.html" class="nav-link">Analyze That</a>
                    </li>
                    <li class="nav-item">
                        <a href="AnalyzeThis.html" class="nav-link">Analyze This</a>
                    </li>
                </ul>
            </nav>
            <main class="col-9 offset-sm-3 offset-md-2">
                <h1>Welcome to the OpenDDS Monitor</h1>
            </main>
        </div>
    </div>
    <div class="row">
        <div class="tabledata col-sm-9 offset-md-2">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>{{title2[0] + " " + value2[0]}}</td>
                        <td>{{title2[1] + " " + value2[1]}}</td>
                        <td>{{title2[2] + " " + value2[2]}}</td>
                    </tr>
                    <tr>
                        <td>{{title2[3] + " " + value2[3]}}</td>
                        <td>{{title2[4] + " " + value2[4]}}</td>
                        <td>{{title2[5] + " " + value2[5]}}</td>
                    </tr>
                    <tr>
                        <td>{{title2[6] + " " + value2[6]}}</td>
                        <td>{{title2[7] + " " + value2[7]}}</td>
                        <td>{{title2[8] + " " + value2[8]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <script>
            var app = angular.module('Homepage', []);
            app.controller('customersCtrl', function($scope) {
                $scope.title2 = [ "Number of Consumers", "Number of Producers","Number of Data Readers", "Number of Data Writers", "Number of Samples" ,
                "Number of Topics", "Largest Topic" , "Most Active Writer", "Number of total Writes"];
                $scope.value2 = [ "23", "234" , "234", "234", "234", "234", "234", "234", "234"];
            });
            </script>   -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>