<div class="container-fluid">
  <div class="row">
    <nav id="sidebar"></nav>
    <main id="main">
      <div class="row">
        <div class="col-6">
          <h1>Process List</h1>
        </div>
      </div>
      <div class="col-12" id="accordion" role="tablist">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel *ngFor="let domainParticipant of openddsBridge.data.DomainParticipant" title="{{ domainParticipant.host }}">
            <ng-template ngbPanelContent>
              <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Topics (count={{mapTopics(domainParticipant.dp_id).length}})">
                  <ng-template ngbPanelContent>
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                      <ngb-panel *ngFor="let topic of mapTopics(domainParticipant.dp_id)" title="{{ topic.topic_name }}">
                        <ng-template ngbPanelContent>
                          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <ngb-panel title="Publishers (count={{mapPublishers(domainParticipant.dp_id).length}})">
                              <ng-template ngbPanelContent>
                                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                                  <ngb-panel *ngFor="let publisher of mapPublishersByTopic(domainParticipant.dp_id, topic.topic_id)" title="Publisher (handle={{publisher.handle}}, transportId={{publisher.transport_id}})">
                                    <ng-template ngbPanelContent>
                                      <div class="card-body">
                                        <p *ngFor="let writer of publisher.writers" style="font-size: 16px">
                                          <code><pre>Writer: {{ JSON.stringify(writer, null, 4) }}</pre></code>
                                        </p>
                                      </div>
                                    </ng-template>
                                  </ngb-panel>
                                </ngb-accordion>
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel title="Subscribers (count={{mapSubscriberByTopic(domainParticipant.dp_id, topic.topic_id).length}})">
                              <ng-template ngbPanelContent>
                                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                                  <ngb-panel *ngFor="let subscriber of mapSubscriberByTopic(domainParticipant.dp_id, topic.topic_id)" title="Subscriber (handle={{subscriber.handle}}, transportId={{subscriber.transport_id}})">
                                    <ng-template ngbPanelContent>
                                      <div class="card-body">
                                        <p *ngFor="let reader of subscriber.readers" style="font-size: 16px">
                                          <code><pre>Reader: {{ JSON.stringify(reader, null, 4) }}</pre></code>
                                        </p>
                                      </div>
                                    </ng-template>
                                  </ngb-panel>
                                </ngb-accordion>
                              </ng-template>
                            </ngb-panel>
                          </ngb-accordion>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </ng-template>
                </ngb-panel>
                <ngb-panel title="Publishers (count={{mapPublishers(domainParticipant.dp_id).length}})">
                  <ng-template ngbPanelContent>
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                      <ngb-panel *ngFor="let publisher of mapPublishers(domainParticipant.dp_id)" title="Publisher (handle={{publisher.handle}}, transportId={{publisher.transport_id}})">
                        <ng-template ngbPanelContent>
                          <div class="card-body">
                            <p *ngFor="let writer of publisher.writers" style="font-size: 16px">
                              <code><pre>Writer: {{ JSON.stringify(writer, null, 4) }}</pre></code>
                            </p>
                          </div>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </ng-template>
                </ngb-panel>
                <ngb-panel title="Subscribers (count={{mapSubscriber(domainParticipant.dp_id).length}})">
                  <ng-template ngbPanelContent>
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                      <ngb-panel *ngFor="let subscriber of mapSubscriber(domainParticipant.dp_id)" title="Subscriber (handle={{subscriber.handle}}, transportId={{subscriber.transport_id}})">
                        <ng-template ngbPanelContent>
                          <div class="card-body">
                            <p *ngFor="let reader of subscriber.readers" style="font-size: 16px">
                              <code><pre>Reader: {{ JSON.stringify(reader, null, 4) }}</pre></code>
                            </p>
                          </div>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </main>
  </div>
</div>
