.sidebar{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 56px;
    overflow-y: scroll;
}
main{
    /* left: 25%; */
}

table, td {
    border: 1px solid black;
    text-align: center;
}
tr {
    height: 250px;
}

p {
    
    font-size: 24pt;
}

#logo {
    width: 120px;
    filter: drop-shadow(2px 2px 2px rgba(1.0,1.0,1.0,0.5));
}

.navbar {
    height: 55px;
} 

#collapseButton{
    position: absolute;
    bottom: 15px;
    right: 10px;
    height: 30px;
    width: 30px;
    padding: 5px;
    cursor: pointer;
}
#collapseButton > .fa{
    font-size: 20px;
}
#sidebar, #main{
    transition: all .25s;
}
#sidebar.collapsed{
    width: 50px;    
}
#main.collapsed{
    max-width: Calc(100% - 50px);    
    margin-left: 50px;
    flex: none;
}
#sidebar.collapsed .nav-link{
    padding-left: 0;
    padding-right: 0;

}