.sidebar{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 56px;
}
main{
    /* left: 25%; */
}
table, td {
    border: 1px solid black;
}
 td {
    width: 33%;
    height: 33%;
    padding-left: 40000px;
 }