.sidebar{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 56px;
    overflow-y: scroll;
}
main{
    /* left: 25%; */
}
#collapseButton{
    position: absolute;
    bottom: 15px;
    right: 10px;
    height: 30px;
    width: 30px;
    padding: 5px;
    cursor: pointer;
}
#collapseButton > .fa{
    font-size: 20px;
}
#sidebar, #main{
    transition: all .25s;
}
#sidebar.collapsed{
    width: 50px;    
}
#main.collapsed{
    max-width: Calc(100% - 50px);    
    margin-left: 50px;
    flex: none;
}
#sidebar.collapsed .nav-link{
    padding-left: 0;
    padding-right: 0;
}