.details-box {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 9;
    background-color: #e3e3e3;
    border-radius: 10px;
    padding: 20px;
    margin: 20px; 
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    max-width: 300px;
    transition: all 0.5s ease-in-out;
    text-align: left;
    max-height: 740px;
    overflow: hidden;
}

.details-box dt {
    font-weight: bold;
    margin-bottom: 5px;
}

.details-box dd {
    margin-left: 0px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.message-container {
    padding: 0px;
    max-height: 420px;
    overflow: auto;
    font-size: 10pt;
}
