<ng-sidebar-container>
  <ng-sidebar [(opened)]="opened">
    <nav class="nav nav-pills flex-column nav-justified">
      <a *ngFor="let navItem of navItems" title="{{'Navigate to ' + navItem.title}}" class="nav-link" [routerLink]="navItem.link">
        <fa [name]="navItem.icon"></fa> {{navItem.title}}
      </a>
    </nav>
    <button (click)="toggleSidebar()" class="btn btn-primary sidebarToggle">
      <fa name="chevron-left"></fa>
    </button>
  </ng-sidebar>
  <div id="mainContent" ng-sidebar-content>
    <nav id="collapsedNav" class="nav nav-pills flex-column nav-justified bg-light">
      <a *ngFor="let navItem of navItems" title="{{'Navigate to ' + navItem.title}}" class="nav-link" [routerLink]="navItem.link">
        <fa [name]="navItem.icon"></fa>
      </a>
      <button (click)="toggleSidebar()" class="btn btn-primary sidebarToggle">
        <fa name="chevron-right"></fa>
      </button>
    </nav>
    <div>
      <ng-content></ng-content>
    </div>
  </div>
</ng-sidebar-container>