#logo {
    width: 110px;
    margin-bottom: 50px;
    margin-left: 15px;
}

button {
    background-color: #70150e;
    border: none;
    outline: none;
}

button:hover {
    background-color: #921813;
    transition: all 100ms;
}

a {
    color: #70150e;
}

a:hover {
    color: #921813;
    transition: all 100ms;
}