<div *ngIf="activeNode" class="details-box">
    <h3>DETAILS</h3>
    <dt>NAME</dt>
    <dd>{{activeNode.id}}</dd>
    <dt>TYPE</dt>
    <dd [style.color]="typeStyle(activeNode.type)">{{activeNode.type}}</dd>                       
    <dt>MESSAGES</dt>
    <div class="message-container">
        <dd *ngFor="let message of activeNode.messages">
            {{message}}
        </dd>
    </div>
</div>

<div *ngIf="!activeNode" class="details-box">
    <h3>DETAILS</h3>
    Please select a node.
</div>
