.graph-container {
    margin: 10px;
    margin-left: 100px;
    width: 100%;
    height: 750px;
    position: relative;
}

.graph {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 15px;
    background-color: lightgrey;
    cursor: crosshair;
    overflow: auto;
}

.topic, .reader, .writer {
    font-size: 8pt;
    position: absolute;
    width: fit-content !important;
    min-width: 30px;
    padding: 5px !important;
    background-color: #444;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    transition: all 0.1s ease-in-out;
    z-index: 1;
    user-select: none;
}

.topic:hover, .reader:hover, .writer:hover {
    cursor: pointer;
    transform: scale(1.3);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    background-color: #555;
}

.topic:active, .reader:active, .writer:active {
    transform: scale(1.0);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    background-color: #666;
}

.topic {
    font-size: 12pt;
    border: 2px solid green;
}

.reader {
    border: 2px solid blue;
}

.writer {
    border: 2px solid red;
}

.path {
    position: absolute;
    top: 0px;
    left: 0px;
}

.path line {
    stroke: rgba(0,0,0,0.6);
    stroke-width: 5;
    z-index: 0;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.8));
}