// version 4
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

ng-sidebar-container {
    height: 100vh !important;
    position: fixed;
}

ng-sidebar aside{
    background-color: $light;
    color:  #fff;
    padding: 15px;
    text-align: center;
    position: relative;
}

.sidebarToggle {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 20px);
    cursor: pointer;
}

$collapsedNavbarWidth: 60px;

#mainContent{
    width: 100%;
    #collapsedNav {
        position: relative;
        width: $collapsedNavbarWidth;
        height: 100vh;
        text-align: center;
        margin: 0;
        float: left;
        position: fixed;
    }
    div {
        width: calc(100% - #{$collapsedNavbarWidth});
        float: right;
        div {
            width: 100%;
            padding: 15px
        }
    }
}

a:focus, button:focus{
    outline: none;
}